@import "sprite";
@import "mixins";
@import "variables";

@import "section/header";
@import "section/aside";
@import "section/above-me";






body {
  background: url("../img/bg.jpg") no-repeat 0 0;
  background-size: cover;
  height: 100%;
  min-width: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

.wrapper {
  max-width: 1920px;
  margin: auto;
}

.main {
  padding-top: 33px;
  padding-bottom: 61px;
}

.main-content {
  max-width: 970px;
  margin: auto;
}



