@import "sprite";
@import "mixins";
@import "variables";
@import "fonts";

@import "section/header";
@import "section/aside";
@import "section/above-me";
@import "section/footer";
@import "section/work";
@import "section/call-me";
@import "section/pop-up";





body {
  background: url("../img/bg.jpg") no-repeat 0 0;
  background-size: cover;
  height: 100%;
  min-width: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

.wrapper {
  max-width: 1920px;
  margin: auto;
}

.main {
  padding-top: 33px;
  margin-bottom: 61px;
  padding-bottom: 61px;
}

.main-content {
  max-width: 970px;
  margin: auto;
}

.active {
  background-color: #48bfa1;
  background: linear-gradient(to bottom, #7ce7cd, #3fb79a);
  border: 1px solid  #30a285;
  color: #1e7465;
}



