/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$bag-name: 'bag';
$bag-x: 56px;
$bag-y: 97px;
$bag-offset-x: -56px;
$bag-offset-y: -97px;
$bag-width: 19px;
$bag-height: 17px;
$bag-total-width: 164px;
$bag-total-height: 135px;
$bag-image: '../img/sprite.png';
$bag: (56px, 97px, -56px, -97px, 19px, 17px, 164px, 135px, '../img/sprite.png', 'bag', );
$email-name: 'email';
$email-x: 50px;
$email-y: 80px;
$email-offset-x: -50px;
$email-offset-y: -80px;
$email-width: 20px;
$email-height: 14px;
$email-total-width: 164px;
$email-total-height: 135px;
$email-image: '../img/sprite.png';
$email: (50px, 80px, -50px, -80px, 20px, 14px, 164px, 135px, '../img/sprite.png', 'email', );
$facebook-active-name: 'facebook-active';
$facebook-active-x: 76px;
$facebook-active-y: 40px;
$facebook-active-offset-x: -76px;
$facebook-active-offset-y: -40px;
$facebook-active-width: 38px;
$facebook-active-height: 40px;
$facebook-active-total-width: 164px;
$facebook-active-total-height: 135px;
$facebook-active-image: '../img/sprite.png';
$facebook-active: (76px, 40px, -76px, -40px, 38px, 40px, 164px, 135px, '../img/sprite.png', 'facebook-active', );
$facebook-name: 'facebook';
$facebook-x: 38px;
$facebook-y: 0px;
$facebook-offset-x: -38px;
$facebook-offset-y: 0px;
$facebook-width: 38px;
$facebook-height: 40px;
$facebook-total-width: 164px;
$facebook-total-height: 135px;
$facebook-image: '../img/sprite.png';
$facebook: (38px, 0px, -38px, 0px, 38px, 40px, 164px, 135px, '../img/sprite.png', 'facebook', );
$file-name: 'file';
$file-x: 14px;
$file-y: 116px;
$file-offset-x: -14px;
$file-offset-y: -116px;
$file-width: 13px;
$file-height: 18px;
$file-total-width: 164px;
$file-total-height: 135px;
$file-image: '../img/sprite.png';
$file: (14px, 116px, -14px, -116px, 13px, 18px, 164px, 135px, '../img/sprite.png', 'file', );
$github-active-name: 'github-active';
$github-active-x: 0px;
$github-active-y: 40px;
$github-active-offset-x: 0px;
$github-active-offset-y: -40px;
$github-active-width: 38px;
$github-active-height: 40px;
$github-active-total-width: 164px;
$github-active-total-height: 135px;
$github-active-image: '../img/sprite.png';
$github-active: (0px, 40px, 0px, -40px, 38px, 40px, 164px, 135px, '../img/sprite.png', 'github-active', );
$github-name: 'github';
$github-x: 38px;
$github-y: 40px;
$github-offset-x: -38px;
$github-offset-y: -40px;
$github-width: 38px;
$github-height: 40px;
$github-total-width: 164px;
$github-total-height: 135px;
$github-image: '../img/sprite.png';
$github: (38px, 40px, -38px, -40px, 38px, 40px, 164px, 135px, '../img/sprite.png', 'github', );
$graduate-name: 'graduate';
$graduate-x: 25px;
$graduate-y: 80px;
$graduate-offset-x: -25px;
$graduate-offset-y: -80px;
$graduate-width: 25px;
$graduate-height: 16px;
$graduate-total-width: 164px;
$graduate-total-height: 135px;
$graduate-image: '../img/sprite.png';
$graduate: (25px, 80px, -25px, -80px, 25px, 16px, 164px, 135px, '../img/sprite.png', 'graduate', );
$icloud-name: 'icloud';
$icloud-x: 0px;
$icloud-y: 80px;
$icloud-offset-x: 0px;
$icloud-offset-y: -80px;
$icloud-width: 25px;
$icloud-height: 17px;
$icloud-total-width: 164px;
$icloud-total-height: 135px;
$icloud-image: '../img/sprite.png';
$icloud: (0px, 80px, 0px, -80px, 25px, 17px, 164px, 135px, '../img/sprite.png', 'icloud', );
$img-block-name: 'img-block';
$img-block-x: 152px;
$img-block-y: 0px;
$img-block-offset-x: -152px;
$img-block-offset-y: 0px;
$img-block-width: 12px;
$img-block-height: 20px;
$img-block-total-width: 164px;
$img-block-total-height: 135px;
$img-block-image: '../img/sprite.png';
$img-block: (152px, 0px, -152px, 0px, 12px, 20px, 164px, 135px, '../img/sprite.png', 'img-block', );
$key-name: 'key';
$key-x: 75px;
$key-y: 97px;
$key-offset-x: -75px;
$key-offset-y: -97px;
$key-width: 19px;
$key-height: 17px;
$key-total-width: 164px;
$key-total-height: 135px;
$key-image: '../img/sprite.png';
$key: (75px, 97px, -75px, -97px, 19px, 17px, 164px, 135px, '../img/sprite.png', 'key', );
$mail-name: 'mail';
$mail-x: 70px;
$mail-y: 80px;
$mail-offset-x: -70px;
$mail-offset-y: -80px;
$mail-width: 14px;
$mail-height: 10px;
$mail-total-width: 164px;
$mail-total-height: 135px;
$mail-image: '../img/sprite.png';
$mail: (70px, 80px, -70px, -80px, 14px, 10px, 164px, 135px, '../img/sprite.png', 'mail', );
$phone-name: 'phone';
$phone-x: 0px;
$phone-y: 116px;
$phone-offset-x: 0px;
$phone-offset-y: -116px;
$phone-width: 14px;
$phone-height: 19px;
$phone-total-width: 164px;
$phone-total-height: 135px;
$phone-image: '../img/sprite.png';
$phone: (0px, 116px, 0px, -116px, 14px, 19px, 164px, 135px, '../img/sprite.png', 'phone', );
$polaroid-name: 'polaroid';
$polaroid-x: 38px;
$polaroid-y: 97px;
$polaroid-offset-x: -38px;
$polaroid-offset-y: -97px;
$polaroid-width: 18px;
$polaroid-height: 18px;
$polaroid-total-width: 164px;
$polaroid-total-height: 135px;
$polaroid-image: '../img/sprite.png';
$polaroid: (38px, 97px, -38px, -97px, 18px, 18px, 164px, 135px, '../img/sprite.png', 'polaroid', );
$school-name: 'school';
$school-x: 19px;
$school-y: 97px;
$school-offset-x: -19px;
$school-offset-y: -97px;
$school-width: 19px;
$school-height: 19px;
$school-total-width: 164px;
$school-total-height: 135px;
$school-image: '../img/sprite.png';
$school: (19px, 97px, -19px, -97px, 19px, 19px, 164px, 135px, '../img/sprite.png', 'school', );
$skype-name: 'skype';
$skype-x: 0px;
$skype-y: 97px;
$skype-offset-x: 0px;
$skype-offset-y: -97px;
$skype-width: 19px;
$skype-height: 19px;
$skype-total-width: 164px;
$skype-total-height: 135px;
$skype-image: '../img/sprite.png';
$skype: (0px, 97px, 0px, -97px, 19px, 19px, 164px, 135px, '../img/sprite.png', 'skype', );
$twitter-active-name: 'twitter-active';
$twitter-active-x: 114px;
$twitter-active-y: 40px;
$twitter-active-offset-x: -114px;
$twitter-active-offset-y: -40px;
$twitter-active-width: 38px;
$twitter-active-height: 40px;
$twitter-active-total-width: 164px;
$twitter-active-total-height: 135px;
$twitter-active-image: '../img/sprite.png';
$twitter-active: (114px, 40px, -114px, -40px, 38px, 40px, 164px, 135px, '../img/sprite.png', 'twitter-active', );
$twitter-name: 'twitter';
$twitter-x: 114px;
$twitter-y: 0px;
$twitter-offset-x: -114px;
$twitter-offset-y: 0px;
$twitter-width: 38px;
$twitter-height: 40px;
$twitter-total-width: 164px;
$twitter-total-height: 135px;
$twitter-image: '../img/sprite.png';
$twitter: (114px, 0px, -114px, 0px, 38px, 40px, 164px, 135px, '../img/sprite.png', 'twitter', );
$vk-active-name: 'vk-active';
$vk-active-x: 76px;
$vk-active-y: 0px;
$vk-active-offset-x: -76px;
$vk-active-offset-y: 0px;
$vk-active-width: 38px;
$vk-active-height: 40px;
$vk-active-total-width: 164px;
$vk-active-total-height: 135px;
$vk-active-image: '../img/sprite.png';
$vk-active: (76px, 0px, -76px, 0px, 38px, 40px, 164px, 135px, '../img/sprite.png', 'vk-active', );
$vk-name: 'vk';
$vk-x: 0px;
$vk-y: 0px;
$vk-offset-x: 0px;
$vk-offset-y: 0px;
$vk-width: 38px;
$vk-height: 40px;
$vk-total-width: 164px;
$vk-total-height: 135px;
$vk-image: '../img/sprite.png';
$vk: (0px, 0px, 0px, 0px, 38px, 40px, 164px, 135px, '../img/sprite.png', 'vk', );
$spritesheet-width: 164px;
$spritesheet-height: 135px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($bag, $email, $facebook-active, $facebook, $file, $github-active, $github, $graduate, $icloud, $img-block, $key, $mail, $phone, $polaroid, $school, $skype, $twitter-active, $twitter, $vk-active, $vk, );
$spritesheet: (164px, 135px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
