/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-name: 'arrow';
$arrow-x: 0px;
$arrow-y: 101px;
$arrow-offset-x: 0px;
$arrow-offset-y: -101px;
$arrow-width: 10px;
$arrow-height: 38px;
$arrow-total-width: 166px;
$arrow-total-height: 139px;
$arrow-image: '../img/sprite.png';
$arrow: (0px, 101px, 0px, -101px, 10px, 38px, 166px, 139px, '../img/sprite.png', 'arrow', );
$bag-name: 'bag';
$bag-x: 84px;
$bag-y: 101px;
$bag-offset-x: -84px;
$bag-offset-y: -101px;
$bag-width: 19px;
$bag-height: 17px;
$bag-total-width: 166px;
$bag-total-height: 139px;
$bag-image: '../img/sprite.png';
$bag: (84px, 101px, -84px, -101px, 19px, 17px, 166px, 139px, '../img/sprite.png', 'bag', );
$email-name: 'email';
$email-x: 73px;
$email-y: 80px;
$email-offset-x: -73px;
$email-offset-y: -80px;
$email-width: 20px;
$email-height: 14px;
$email-total-width: 166px;
$email-total-height: 139px;
$email-image: '../img/sprite.png';
$email: (73px, 80px, -73px, -80px, 20px, 14px, 166px, 139px, '../img/sprite.png', 'email', );
$facebook-active-name: 'facebook-active';
$facebook-active-x: 76px;
$facebook-active-y: 0px;
$facebook-active-offset-x: -76px;
$facebook-active-offset-y: 0px;
$facebook-active-width: 38px;
$facebook-active-height: 40px;
$facebook-active-total-width: 166px;
$facebook-active-total-height: 139px;
$facebook-active-image: '../img/sprite.png';
$facebook-active: (76px, 0px, -76px, 0px, 38px, 40px, 166px, 139px, '../img/sprite.png', 'facebook-active', );
$facebook-name: 'facebook';
$facebook-x: 0px;
$facebook-y: 40px;
$facebook-offset-x: 0px;
$facebook-offset-y: -40px;
$facebook-width: 38px;
$facebook-height: 40px;
$facebook-total-width: 166px;
$facebook-total-height: 139px;
$facebook-image: '../img/sprite.png';
$facebook: (0px, 40px, 0px, -40px, 38px, 40px, 166px, 139px, '../img/sprite.png', 'facebook', );
$file-name: 'file';
$file-x: 152px;
$file-y: 39px;
$file-offset-x: -152px;
$file-offset-y: -39px;
$file-width: 13px;
$file-height: 18px;
$file-total-width: 166px;
$file-total-height: 139px;
$file-image: '../img/sprite.png';
$file: (152px, 39px, -152px, -39px, 13px, 18px, 166px, 139px, '../img/sprite.png', 'file', );
$github-active-name: 'github-active';
$github-active-x: 0px;
$github-active-y: 0px;
$github-active-offset-x: 0px;
$github-active-offset-y: 0px;
$github-active-width: 38px;
$github-active-height: 40px;
$github-active-total-width: 166px;
$github-active-total-height: 139px;
$github-active-image: '../img/sprite.png';
$github-active: (0px, 0px, 0px, 0px, 38px, 40px, 166px, 139px, '../img/sprite.png', 'github-active', );
$github-name: 'github';
$github-x: 114px;
$github-y: 0px;
$github-offset-x: -114px;
$github-offset-y: 0px;
$github-width: 38px;
$github-height: 40px;
$github-total-width: 166px;
$github-total-height: 139px;
$github-image: '../img/sprite.png';
$github: (114px, 0px, -114px, 0px, 38px, 40px, 166px, 139px, '../img/sprite.png', 'github', );
$graduate-name: 'graduate';
$graduate-x: 48px;
$graduate-y: 80px;
$graduate-offset-x: -48px;
$graduate-offset-y: -80px;
$graduate-width: 25px;
$graduate-height: 16px;
$graduate-total-width: 166px;
$graduate-total-height: 139px;
$graduate-image: '../img/sprite.png';
$graduate: (48px, 80px, -48px, -80px, 25px, 16px, 166px, 139px, '../img/sprite.png', 'graduate', );
$icloud-name: 'icloud';
$icloud-x: 23px;
$icloud-y: 80px;
$icloud-offset-x: -23px;
$icloud-offset-y: -80px;
$icloud-width: 25px;
$icloud-height: 17px;
$icloud-total-width: 166px;
$icloud-total-height: 139px;
$icloud-image: '../img/sprite.png';
$icloud: (23px, 80px, -23px, -80px, 25px, 17px, 166px, 139px, '../img/sprite.png', 'icloud', );
$img-block-name: 'img-block';
$img-block-x: 152px;
$img-block-y: 19px;
$img-block-offset-x: -152px;
$img-block-offset-y: -19px;
$img-block-width: 12px;
$img-block-height: 20px;
$img-block-total-width: 166px;
$img-block-total-height: 139px;
$img-block-image: '../img/sprite.png';
$img-block: (152px, 19px, -152px, -19px, 12px, 20px, 166px, 139px, '../img/sprite.png', 'img-block', );
$key-name: 'key';
$key-x: 103px;
$key-y: 101px;
$key-offset-x: -103px;
$key-offset-y: -101px;
$key-width: 19px;
$key-height: 17px;
$key-total-width: 166px;
$key-total-height: 139px;
$key-image: '../img/sprite.png';
$key: (103px, 101px, -103px, -101px, 19px, 17px, 166px, 139px, '../img/sprite.png', 'key', );
$locked-name: 'locked';
$locked-x: 10px;
$locked-y: 101px;
$locked-offset-x: -10px;
$locked-offset-y: -101px;
$locked-width: 18px;
$locked-height: 21px;
$locked-total-width: 166px;
$locked-total-height: 139px;
$locked-image: '../img/sprite.png';
$locked: (10px, 101px, -10px, -101px, 18px, 21px, 166px, 139px, '../img/sprite.png', 'locked', );
$mail-name: 'mail';
$mail-x: 152px;
$mail-y: 57px;
$mail-offset-x: -152px;
$mail-offset-y: -57px;
$mail-width: 14px;
$mail-height: 10px;
$mail-total-width: 166px;
$mail-total-height: 139px;
$mail-image: '../img/sprite.png';
$mail: (152px, 57px, -152px, -57px, 14px, 10px, 166px, 139px, '../img/sprite.png', 'mail', );
$phone-name: 'phone';
$phone-x: 152px;
$phone-y: 0px;
$phone-offset-x: -152px;
$phone-offset-y: 0px;
$phone-width: 14px;
$phone-height: 19px;
$phone-total-width: 166px;
$phone-total-height: 139px;
$phone-image: '../img/sprite.png';
$phone: (152px, 0px, -152px, 0px, 14px, 19px, 166px, 139px, '../img/sprite.png', 'phone', );
$polaroid-name: 'polaroid';
$polaroid-x: 66px;
$polaroid-y: 101px;
$polaroid-offset-x: -66px;
$polaroid-offset-y: -101px;
$polaroid-width: 18px;
$polaroid-height: 18px;
$polaroid-total-width: 166px;
$polaroid-total-height: 139px;
$polaroid-image: '../img/sprite.png';
$polaroid: (66px, 101px, -66px, -101px, 18px, 18px, 166px, 139px, '../img/sprite.png', 'polaroid', );
$school-name: 'school';
$school-x: 47px;
$school-y: 101px;
$school-offset-x: -47px;
$school-offset-y: -101px;
$school-width: 19px;
$school-height: 19px;
$school-total-width: 166px;
$school-total-height: 139px;
$school-image: '../img/sprite.png';
$school: (47px, 101px, -47px, -101px, 19px, 19px, 166px, 139px, '../img/sprite.png', 'school', );
$skype-name: 'skype';
$skype-x: 28px;
$skype-y: 101px;
$skype-offset-x: -28px;
$skype-offset-y: -101px;
$skype-width: 19px;
$skype-height: 19px;
$skype-total-width: 166px;
$skype-total-height: 139px;
$skype-image: '../img/sprite.png';
$skype: (28px, 101px, -28px, -101px, 19px, 19px, 166px, 139px, '../img/sprite.png', 'skype', );
$twitter-active-name: 'twitter-active';
$twitter-active-x: 114px;
$twitter-active-y: 40px;
$twitter-active-offset-x: -114px;
$twitter-active-offset-y: -40px;
$twitter-active-width: 38px;
$twitter-active-height: 40px;
$twitter-active-total-width: 166px;
$twitter-active-total-height: 139px;
$twitter-active-image: '../img/sprite.png';
$twitter-active: (114px, 40px, -114px, -40px, 38px, 40px, 166px, 139px, '../img/sprite.png', 'twitter-active', );
$twitter-name: 'twitter';
$twitter-x: 38px;
$twitter-y: 40px;
$twitter-offset-x: -38px;
$twitter-offset-y: -40px;
$twitter-width: 38px;
$twitter-height: 40px;
$twitter-total-width: 166px;
$twitter-total-height: 139px;
$twitter-image: '../img/sprite.png';
$twitter: (38px, 40px, -38px, -40px, 38px, 40px, 166px, 139px, '../img/sprite.png', 'twitter', );
$unlocked-name: 'unlocked';
$unlocked-x: 0px;
$unlocked-y: 80px;
$unlocked-offset-x: 0px;
$unlocked-offset-y: -80px;
$unlocked-width: 23px;
$unlocked-height: 21px;
$unlocked-total-width: 166px;
$unlocked-total-height: 139px;
$unlocked-image: '../img/sprite.png';
$unlocked: (0px, 80px, 0px, -80px, 23px, 21px, 166px, 139px, '../img/sprite.png', 'unlocked', );
$vk-active-name: 'vk-active';
$vk-active-x: 76px;
$vk-active-y: 40px;
$vk-active-offset-x: -76px;
$vk-active-offset-y: -40px;
$vk-active-width: 38px;
$vk-active-height: 40px;
$vk-active-total-width: 166px;
$vk-active-total-height: 139px;
$vk-active-image: '../img/sprite.png';
$vk-active: (76px, 40px, -76px, -40px, 38px, 40px, 166px, 139px, '../img/sprite.png', 'vk-active', );
$vk-name: 'vk';
$vk-x: 38px;
$vk-y: 0px;
$vk-offset-x: -38px;
$vk-offset-y: 0px;
$vk-width: 38px;
$vk-height: 40px;
$vk-total-width: 166px;
$vk-total-height: 139px;
$vk-image: '../img/sprite.png';
$vk: (38px, 0px, -38px, 0px, 38px, 40px, 166px, 139px, '../img/sprite.png', 'vk', );
$spritesheet-width: 166px;
$spritesheet-height: 139px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arrow, $bag, $email, $facebook-active, $facebook, $file, $github-active, $github, $graduate, $icloud, $img-block, $key, $locked, $mail, $phone, $polaroid, $school, $skype, $twitter-active, $twitter, $unlocked, $vk-active, $vk, );
$spritesheet: (166px, 139px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
