/* Open-sans fonts */
$open-light: 'OpenSans-Light';
$open-light-ital: 'OpenSans-Lightitalic';

$open-reg: 'OpenSans-Regular';
$open-ital: 'OpenSans-Italic';

$open-bold: 'OpenSans-Bold';
$open-bold-ital: 'OpenSans-Bolditalic';

$open-semi-bold: 'OpenSans-Semibold';
$open-semi-ital: 'OpenSans-Semibolditalic';

$open-extra-bold: 'OpenSans-Extrabolditalic';
$open-extra-bold-ital: 'OpenSans-Extrabolditalic';