include section/_mixins

doctype html
html(lang='ru')
   head
      meta(charset='utf-8')
      title Autorization
      link(rel="icon" href="img/favicon.ico" type="image/x-icon")
      link(rel="stylesheet" href="css/main.css")
      script(src="js/modernizr-custom.js")
      script(src='https://www.google.com/recaptcha/api.js')
   body

      include section/_footer
   include section/_pop-up
   script(src="js/main.js")

