doctype html
html(lang='ru')
  head
    title Portfolio
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/normalize.css")

  body
    include section/_header
    .wrapper
      section.main
        section.main_information.clearfix
          include section/_aside
          section.main_info
            h2.main_title У вас интересный проект?  Напишите мне
            .call-me
              form.read-me
                label.our-label Имя
                  input(type="text" name="text" placeholder="Как к вам обращаться").input
                label.our-label Email
                  input(type="email" name="email" required placeholder="Куда мне писать").input
                label.our-label Сообщение
                  textarea(name="message" required placeholder="Кратко в чем суть").input.message
                .button-label
                  input(type="submit" value="Отправить").button.send
                  input(type="reset" name="reset" value="Очистить").button.clear
    include section/_footer