include section/_mixins

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Portfolio
    link(rel="stylesheet" href="css/normalize.css")
    link(rel="stylesheet" href="css/fonts.css")
    link(rel="icon" href="img/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="css/main.css")
    script(src="js/modernizr-custom.js")
    script(src='https://www.google.com/recaptcha/api.js')
    
  body
    include section/_header
    .wrapper
      .main
        .main-content.clearfix
          include section/_aside
          include section/_above-me
    include section/_footer
    include section/_pop-up

    script(src="js/jquery.js")
    script(src="js/main.js")





