doctype html
html(lang='ru')
  head
    title Portfolio
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/normalize.css")
    
  body
    include section/_header
    .wrapper
      .main
        .main-content.clearfix
          include section/_aside
          include section/_above-me


    script(src="main.js")

