doctype html
html(lang='ru')
  head
    title Portfolio
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/normalize.css")
    link(rel="stylesheet" href="css/fonts.css")
    script(src="js/modernizr-custom.js")
    
  body
    include section/_header
    .wrapper
      .main
        .main-content.clearfix
          include section/_aside
          include section/_above-me
    include section/_footer
    include section/_pop-up

    script(src="js/jquery.js")
    script(src="js/main.js")





