doctype html
html(lang='ru')
  head
    title My Works
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/normalize.css")

  body
    include section/_header
    .wrapper
      section.main
        section.main_information.clearfix
          include section/_aside
          section.main_info
            h2.main_title Мои работы
            .works
              ul.main-works
                li.works_item
                  a(href="#").works_link
                    img(src="../img/works-1.png" alt="").works_img
                    span Подробнее
                  a(href="#").works_name a-industry.ru
                  p.works_description Корпоративный и в тоже время продающий сайт строительной компании a-industry.
                li.works_item
                  a(href="#").works_link
                    img(src="../img/works-2.png"  alt="").works_img
                    span Подробнее
                  a(href="#").works_name a-industry.ru
                  p.works_description Продающая страница для компании ledenland.
                li.works_item
                  a(href="#").works_link
                    img(src="../img/works-3.png"  alt="").works_img
                    span Подробнее
                  a(href="#").works_name a-industry.ru
                  p.works_description Лендинг компании «СRM Consulting» специализирующейся на точной настройке Битрикс24 под бизнес.
                li.works_item
                  a(href="#").works_link
                    img(src="../img/works-4.png"  alt="").works_img
                    span Подробнее
                  a(href="#").works_name a-industry.ru
                  p.works_description Сайт по услугам разработки продающих лендингов.
                li.works_item
                  a(href="#").works_link
                    img(src="../img/works-5.png"  alt="").works_img
                    span Подробнее
                  a(href="#").works_name a-industry.ru
                  p.works_description Landing page по продажи франшизы снежного бизнеса.
                li.works_item.add-project
                  a(href="#").works_add Добавить проект
    include section/_footer
