.call-me  {
  padding: 33px 111px;
}

.input {
  border: 1px solid #d6d5d3;
  border-radius: 3px;
  padding: 12px 9px;
  background: linear-gradient(to bottom, #fbfcfd, #f4f3f4);
  color: #c7c6c6;
  font-size: 12px;
  margin-top: 10px;
  width: 175px;
  &:focus {
    outline: none;
  }
}

.message {
  width: 402px;
  height: 184px;
  resize: none
}

.our-label {
  font-size: 14px;
  color: #727070;
  display: inline-block;
  width: 190px;
  margin: 0  0 15px  38px;
  &:first-child, &:nth-child(3) {
    margin-left: 0;
  }
}

.button {
  width: 124px;
  height: 40px;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 26px;
  border: none;
  cursor: pointer;
}

.send {
  background: linear-gradient(to bottom, #a5e7cb, #75b798);
  color: #1e7465;
  margin-left: 30px;
  &:hover{
    color: #467366;
    background: linear-gradient(to bottom, #90dabc, #669f87);
  }
  &:active {
    color: #ffffff;
    background: linear-gradient(to bottom, #78baa0, #4a7664);
  }
}

.clear {
  border: 1px solid #d2d2d2;
  color: #727070;
  background: linear-gradient(to bottom, #fcfcfc, #e9e8e8);
  margin-left: 100px;
  &:hover{
    color: #727070;
    background: linear-gradient(to bottom, #e3e2e2, #bebdbd);
  }
  &:active {
    color: #ffffff;
    background: linear-gradient(to bottom, #a8a7a7, #7c7a7a);
  }
}

input {
  margin: 0;
  &:focus {
    outline: none;
  }
}

.button-label {
  display: block;
  padding: 25px 0;
}
