.about-me_call-me {
  padding: 33px 50px 60px 50px;
}

.about-me_form {
  margin: auto;
  width: 405px;

  @media screen and (max-width: 795px) {
    width: 100%;
  }
}

.our-label {
  width: 193px;
  position: relative;

  @include font(14,$open-reg,  #727070);
  display: inline-block;
  margin-left: 14px;
  margin-bottom: 15px;
  &:first-child, &:last-child {
    margin-left: 0;
  }

  @media screen and (max-width: 795px) {
    width: 100%;
    margin-left: 0;
  }
}

.input-placeholder {
  border: 1px solid #d6d5d3;
  border-radius: 3px;

  @include font(12,$open-light,  #c7c6c6);
  background-color: #fafbfc;
  background: linear-gradient(to bottom, #fbfcfd, #f4f3f3);
  padding: 12px 9px;
  width: 171px;
  margin-top: 10px;
  &:focus {
    outline: none;
  }

  @media screen and (max-width: 795px) {
    width: 100%;
  }
}

.input-placeholder_message {
  width: 383px;
  height: 158px;
  resize: none;

  @media screen and (max-width: 795px) {
    width: 100%;
  }
}

.our-label_email {
  margin-left: 0;
  margin-bottom: 8px;
  width: 100%;
}

.our-label_captca  {
  width: 100%;
  margin-bottom: 30px;
  margin-left: 0;
}

.form-button {
  width: 373px;
  margin: auto;
  margin-bottom: 20px;


  @media screen and (max-width: 490px) {
    width: 100%;
  }
}

.button {
  font-size: 14px;
  font-family: open_sanssemibold;
  padding: 10px 25px;
  &:focus {
    outline: 0;
  }

  @media screen and (max-width: 385px) {
    padding: 8px 14px;
  }

  @media screen and (max-width: 336px) {
    padding: 8px;
  }

}

.button-submit {
  border: 1px solid #57d2b4;
  border-radius: 5px;
  background-color: #4cbda1;
  background: linear-gradient(to bottom, #5edbbc, #3aa187);
  color: #1e7465;

  &:hover {
    background-color: #82c8ac;
    background: linear-gradient(to bottom, #90dabc, #66a088);
    color: #467366;
    border: 1px solid #88d1b3;
  }

  &:active {
    background-color: #639b84;
    background: linear-gradient(to bottom, #78b99f, #4a7664);
    color: #eeedec;
    border: 1px solid #88d1b3;
  }
}

.button-reset {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  background-color: #f3f2f1;
  background: linear-gradient(to bottom, #fcfcfc, #e9e8e8);
  color: #727070;
  float: right;

  &:hover {
    background-color: #82c8ac;
    background: linear-gradient(to bottom, #e3e2e2, #c3c3c3);
    color: #727070;
    border: 1px solid #d1d1d1;
  }

  &:active {
    background-color: #cbcaca;
    background: linear-gradient(to bottom, #a8a7a7, #bebdbd);
    color: #eeedec;
    border: 1px solid #d1d1d1;
  }
}
.about-me_captcha {
  margin-top: 20px;
}


.tooltip-first-name {
  left: -101px;
  top: 34px;
}
.tooltip-message {
  top: 109px;
  left: -95px;
}
.tooltip-email {
  left: 202px;
  height: 17px;
  width: 87px;
  top: 31px;
  &:after {
    content: '';
    position: absolute;
    display: block;
    border: 8px solid transparent;
    border-right: 10px solid #ee9b80;
    top: 4px;
    right: 99px;
  }
}