.footer {
  min-height: 61px;
  background-color: #f9f9f9;
  background: linear-gradient(to bottom, #ffffff, #f1f1f1);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0 20px 0;
  text-align: center;
  box-sizing: border-box;

  &_copyright {
    display: inline-block;
    margin: 0;
    font-size: 12px;
    font-family: open_sanslight;
    color: #727070;
    margin-left: 50px;
  }

  &_login {
    display: inline-block;
  }

  &_button {
    display: block;
    color: #9c9c9c;
    font-size: 14px;
    font-family: open_sansbold;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;

      @include sprite($locked);
      top: -4px;
      left: -26px;
    }

    &:hover {
      &:after {

        @include sprite($unlocked);
      }
    }
  }
}