.works {
  display: block;
  padding: 41px 35px;
}

.main-works {
  padding: 0;
  margin: 0;
}
.works_item {
  width: 165px;
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  margin-left: 32px;
  border: 1px solid #d0cfcf;
  border-radius: 7px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.3);
  position: relative;
  &:first-child, &:nth-child(4)  {
    margin-left: 0;
  }
}

.works_img {
  display: block;
  width: 100%;
  position: relative;
}

.works_name {
  background-color: #f2f2f2;
  padding: 8px 5px;
  display: block;
  color: #727070;
  font-size: 13px;
  border-top: 1px solid #bfbfbf;
  text-decoration: none;
}

.works_description {
  background: #ffffff;
  margin: 0;
  color: #727070;
  font-size: 12px;
  display: block;
  padding: 8px 17px;
}

.add-project {
  height: 135px;
  background: #f3f1f1;
  background: linear-gradient(to bottom, #fafbfb, #e9e8e8);
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #f7f7f7;
    box-shadow: -2px -2px 1px #cfcfcf;
    border-radius: 50% 50%;
  }
  &:hover {
    background: #d7d5d5;
    background: linear-gradient(to bottom, #e5e4e4, #bebdbd);
    border: 1px solid #b6b6b6;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #d7d7d7;
    box-shadow: inset 2px 2px 1px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.8);
    border-radius: 50% 50%;
  }
}

.works_add {
  font-size: 14px;
  color: #727070;
  text-decoration: none;
  display: block;
  padding: 96px 27px;
  &:hover {
    color: #727070;
  }
}

span {
  position: absolute;
  top: -9999px;
  display: block;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 11px;
  border: 2px solid #ffffff;
  padding: 3px 6px;
  color: #ffffff;
}

.works_link {
  display: block;
  position: relative;
  &:hover {
    span {
      top: 48px;
      left: 44px;
      z-index: 2;
      transition: 0.6s;
      &:hover {
        color: #000000;
        background-color: #ffffff;
      }
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      top: 0;
      left: 0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      transition: 0.6s;
    }
  }
}
