.pop-up {
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;

  &_form {
    max-width: 309px;
    min-height: 400px;
    background-color: #f8f7f6;
    border-radius: 5px;
    padding: 26px 20px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &_title {
    margin: -50px 0 21px 0;

    @include font(12, $open-light, #f8f7f6)
  }

  &_label {
    font-size: 14px;
    color: #727070;
  }

  &_input {
    width: 283px;
    height: 19px;
    padding: 14px 10px;
    border: 1px solid #d6d5d3;
    border-radius: 5px;
    background-color: #fdfdfd;
    background: linear-gradient(to bottom, #f7f8f9, #f4f3f3);

    @include font(12, $open-reg,#c7c6c6 );
    margin: 13px 0 13px 0;
    &:focus {
      outline: 0;
    }
  }
}

.pop-up_input-message {
  height: 110px;
  resize: none;
}

.button_add {
  margin: auto;
  width: 126px;
}

.input_button {
  font-size: 14px;
  padding: 10px 17px;
  font-family: open_sansregular;
  text-decoration: none;
  &:focus {
    outline: 0;
  }
}

.pop-up_close {
  position: absolute;
  top: 2px;
  right: 6px;

  @include font(17,$open-bold, #797777 );
  text-decoration: none;
}

.pop-up_input-download {
  position: absolute;
  top: 0;
  left: -9999px;
}

.pop-up_label-download {
  width: 283px;
  height: 19px;
  padding: 14px 10px;
  border: 1px solid #d6d5d3;
  border-radius: 5px;
  background-color: #fdfdfd;
  background: linear-gradient(to bottom, #f7f8f9, #f4f3f3);
  display: block;
  margin-bottom: 13px;
  position: relative;

  @include font(12, $open-reg,#c7c6c6 );

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 55px;
    height: 48px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f8f6f6;
    background: linear-gradient(to bottom, #f9fafa, #e9e8e8);
    border-left: 1px solid #d6d5d3;
    top: 0;
    right: 0;
  }

  &:after {
    position: absolute;
    content: '';
    display: block;

    @include sprite($icloud);
    top: 13px;
    right: 14px;
  }
}


.pop-up_description {
  margin: 0;
  margin-bottom: 13px;

  @include font(14, $open-reg, #727070);

}

