.about-me_work {
  padding: 37px;

  @media screen and (max-width: 981px){
    padding: 30px;
  }

  @media screen and (max-width: 981px){
    padding: 21px;
  }
}

.my-works {
  margin: 0;
  padding: 0;

  &_item {
    width: 165px;
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin-left: 32px;
    border: 1px solid #d0cfcf;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    &:first-child {
      margin-left: 0;
    }

    @media screen and (max-width: 981px){
      margin-left: 20px;
    }

    @media screen and (max-width: 885px){
      margin-left: 60px;
      &:first-child {
        margin-left: 60px;
      }
    }

    @media screen and (max-width: 885px){
      margin-left: 30px;
      &:first-child {
        margin-left: 30px;
      }
    }

    @media screen and (max-width: 749px){
      margin-left: 10px;

      &:first-child {
        margin-left: 10px;
      }
    }

    @media screen and (max-width: 682px){
      margin-left: 5px;

      &:first-child {
        margin-left: 5px;
      }
    }


    @media screen and (max-width: 579px){
      margin-left: 0;
      &:first-child {
        margin-left: 0;
      }
    }
  }

  &_img {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    position: relative;
  }

  &_name {

    @include font(13, $open-semi-bold,#727070 );
    text-decoration: none;
    background-color: #f2f2f2;
    display: block;
    padding: 10px 30px;
    &:hover {
      text-decoration: underline;
    }
  }

  &_link {
    position: relative;
    display: block;
    &:hover {
      .my-works_more {
        display: block;
        z-index: 2;
        top: 48px;
        left: 44px;
        transition: 0.3s;
        border-radius:4px;
        &:hover {
          color: #000000;
          background-color: #FFFFFF;
          transform: scale(1.2);
        }
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        top: 0;
        left: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: 0.6s;
      }
    }
  }

  &_description {
    display: block;
    background-color: #FFFFFF;
    margin: 0;
    padding: 8px 12px;

    @include font(12, $open-light, #9c9b9b );
  }

  &_add {

    @include font(14, $open-semi-bold,  #727070);
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 90px 0 25px 0;
    background-color: #f4f2f1;
    background: linear-gradient(to bottom, #f4f3f2, #e9e8e8);
    position: relative;

    &:hover {
      background-color: #b7b7b7;
      background: linear-gradient(to bottom, #d1d1d1, #e8e7e7);

      &:before {
        background-color: #e8e7e7;
        box-shadow: -1px -1px 2px;
      }
    }

    &:before {
      position: absolute;
      display: block;
      content: '';
      background-color: #f7f7f7;
      box-shadow: -1px -1px 2px;
      border-radius: 50% 50%;
      width: 53px;
      height: 55px;
      top: 25px;
      left: 56px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;

      @include sprite($polaroid);
      top: 42px;
      left: 72px;
    }
  }
}

.my-works_more {
  position: absolute;
  top: -9999px;
  display: block;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  padding: 3px 6px;

  @include font(11, $open-semi-bold,#ffffff );
}
.my-works_item-other {
  margin-left: 0;

  @media screen and (max-width: 885px){
    margin-left: 60px;
  }

  @media screen and (max-width: 885px){
    margin-left: 30px;
  }

  @media screen and (max-width: 749px){
    margin-left: 10px;
  }

  @media screen and (max-width: 682px){
    margin-left: 5px;
  }
  @media screen and (max-width: 579px){
    margin-left: 0;
  }
}

.information {

  @media screen and (max-width: 680px){
   width: 75%;
    margin: auto;
  }

  @media screen and (max-width: 646px){
    width: 80%;
  }
  @media screen and (max-width: 611px){
    width: 85%;
  }

  @media screen and (max-width: 579px){
    width: 44%;
  }
}



