section.main_info
  h2.main_title Основная информация
  .about-me.clearfix
    .avatar
      img(src="../img/my-photo.jpg" alt="my-photo").my-photo
    .content
      dl.about-list
        dt.content_about Меня зовут:
        dd.about-span Коваленко Виктория Владимировна
        dt.content_about Мой возраст:
        dd.about-span 21 год
        dt.content_about Мой город:
        dd.about-span Чернигов
        dt.content_about Моя специализация:
        dd.about-span FRONTEND разработчик
        dt.content_about Ключевые навыки:
        dd.about-span
          ul.content_list
            li.content_item HTML5
            li.content_item CSS3
            li.content_item Photoshop
            li.content_item БЭМ
            li.content_item SASS
            li.content_item Jade
            li.content_item Gulp
            li.content_item Git
            li.content_item Terminal
section.main_info
  h2.main_title Опыт работы
  .about-me.second-info
    p.information-text_p.line "ИП Боровицкий" - Продавец дисков<br>Cентябрь 2005 - Август 2008
    p.information-text_p.line "ООО Системы безопастности" - Системный администратор<br>Июнь 2008 - Июль 2010
    p.information-text_p "Магнит, Розничная сеть" - Ведущий аналитик по внедрению<br> Oracle Web Center<br>Август 2011 - Октябрь 2012
section.main_info
  h2.main_title Образование
  .about-me.second-info
    p.education_p.first-img.line Полное среднее. Петровская НВК-ЗНЗ 1-3 ст. ДНЗ<br>2000-2011
    p.education_p.second-img.line Среднее специальное. ЧЦПТУ<br>2011-2013
    p.education_p.third-img Среднее специальное. Черниговский колледж экономики и технологий<br>2013-2014
