.main-information
  section.about-me
    h2.about-me_title Основная информация
    .about-me_info.about-me_info-main
      .about-me_main.clearfix
        .about-me_photo
          img(src="../img/my-photo.jpg" alt="my photo").avatar
        .about-block.clearfix
          dl.about-list
            dt.content_about Меня зовут:
            dd.about-span Коваленко Виктория Владимировна
            dt.content_about Мой возраст:
            dd.about-span 21 год
            dt.content_about.content_about-clear Мой город:
            dd.about-span Чернигов
            dt.content_about.content_about-clear Моя специализация:
            dd.about-span FRONTEND разработчик
            dt.content_about Ключевые навыки:
            dd.about-span
              ul.content_list
                li.content_item HTML5
                li.content_item CSS3
                li.content_item Photoshop
                li.content_item SASS
                li.content_item Jade
                li.content_item Gulp
                li.content_item Git
                li.content_item Terminal
  section.about-me
    h2.about-me_title Опыт работы
    .about-me_info.about-me_other
      p.about-me_text.
        "ИП Боровицкий" - Продавец дисков
        <span class="date">Сентябрь 2005 - Август 2008</span>
      p.about-me_text.
        "ООО Системы безопастности" - Системный администратор
        <span class="date">Июнь 2008 - Июль 2010</span>
      p.about-me_text.
        "Магнит, Розничная сеть" - Ведущий аналитик по внедрению Oracle Web Center
        <span class="date">Август 2011 - Октябрь 2012</span>
  section.about-me
    h2.about-me_title Образование
    .about-me_info
        .about-me_info.about-me_other
          p.about-me_text.first-education.
            Полное среднее. Физико-математический лицей № 30
            <span class="date">1994 - 2004</span>
          p.about-me_text.second-education.
            Незаконченное высшее. СПБГУ ИТМО
            <span class="date">Октябрь 2012 - по настоящее время</span>
          p.about-me_text.third-education.
            Курсы Loftschool.ru
            <span class="date">Ноябрь 2014 - по настоящее время</span>


