.main-information
  section.about-me
    p.about-me_title Основная информация
    .about-me_info.about-me_info-main
      .about-me_main.clearfix
        .about-me_photo
          img(src="../img/my-photo.jpg" alt="my photo").avatar
        .about-block.clearfix
          dl.about-list
            dt.content_about Меня зовут:
            dd.about-span Коваленко Виктория Владимировна
            dt.content_about Мой возраст:
            dd.about-span 21 год
            dt.content_about Мой город:
            dd.about-span Чернигов
            dt.content_about Моя специализация:
            dd.about-span FRONTEND разработчик
            dt.content_about Ключевые навыки:
            dd.about-span
              ul.content_list
                li.content_item HTML5
                li.content_item CSS3
                li.content_item Photoshop
                li.content_item SASS
                li.content_item.jade Jade
                li.content_item Gulp
                li.content_item Git
                li.content_item Terminal
  section.about-me
    p.about-me_title Опыт работы
    .about-me_info.about-me_other
      p.about-me_text.
        "ИП Боровицкий" - Продавец дисков<br>
        Сентябрь 2005 - Август 2008
      p.about-me_text.
        "ООО Системы безопастности" - Системный администратор<br>
        Июнь 2008 - Июль 2010
      p.about-me_text.
        "Магнит, Розничная сеть" - Ведущий аналитик по внедрению<br> Oracle Web Center<br>
        Август 2011 - Октябрь 2012
  section.about-me
    p.about-me_title Образование
    .about-me_info
        .about-me_info.about-me_other
          p.about-me_text.first-education.
            Полное среднее. Физико-математический лицей № 30<br>
            1994 - 2004
          p.about-me_text.second-education.
            Незаконченное высшее. СПБГУ ИТМО<br>
            Октябрь 2012 - по настоящее время
          p.about-me_text.third-education.
            Курсы Loftschool.ru<br>
            Ноябрь 2014 - по настоящее время


