.main-information
  section.about-me
    h2.about-me_title Основная информация
    .about-me_info.about-me_info-main
      .about-me_main.clearfix
        .about-me_photo
          img(src="../img/my-photo.jpg" alt="my photo").avatar
        .about-block.clearfix
          dl.about-list
            dt.content_about Меня зовут:
            dd.about-span Коваленко Виктория Владимировна
            dt.content_about Мой возраст:
            dd.about-span 21 год
            dt.content_about.content_about-clear Мой город:
            dd.about-span Чернигов
            dt.content_about.content_about-clear Моя специализация:
            dd.about-span FRONTEND разработчик
            dt.content_about Ключевые навыки:
            dd.about-span
              ul.content_list
                li.content_item HTML5
                li.content_item CSS3
                li.content_item Photoshop
                li.content_item SASS
                li.content_item Jade
                li.content_item Gulp
                li.content_item Git
                li.content_item Terminal
  section.about-me
    h2.about-me_title Опыт работы
    .about-me_info.about-me_other
      p.about-me_text.
        Колл-центр, менеджер по продажам
        <span class="date">Апрель - Июль, 2015</span>
      p.about-me_text.
        Loftschool. Консультант
        <span class="date">Октябрь 2015 - по настоящее время</span>
  section.about-me
    h2.about-me_title  Образование
    .about-me_info
        .about-me_info.about-me_other
          p.about-me_text.first-education.
           Петровская средняя школа, НВК-ЗНЗ, ДНЗ 1-3 ст.
            <span class="date">2000 - 2011</span>
          p.about-me_text.second-education.
            Черниговский колледж экономики и технологий ЧГТУ
            <span class="date">Сентябрь 2013 - Июнь 2014</span>
          p.about-me_text.third-education.
            Курсы Loftschool.ru
            <span class="date">Январь 2016 - по настоящее время</span>


