section.navigation
  ul.nav-list
    li.nav-item
      a(href="index.html").nav-link Обо мне
    li.nav-item
      a(href="work.html").nav-link Мои работы
    li.nav-item
      a(href="call-me.html").nav-link Обратная связь
  ul.contact-list
    li.contact-item
      h3.contact-title Контакты
    li.contact-item
      a(href="mailto:kvvendetta@gmail.com").contact-link.contact-mail kvvendetta
    li.contact-item
      a(href="tel:+380631162291").contact-link.contact-phone +380631162291
    li.contact-item
      a(href="skype:vikanovik.vika").contact-link.contact-skype vikanovik.vika