nav.main_navigation
  ul.main_list
    li.main_item
      a(href="index.html").main_link.active Обо мне
    li.main_item
      a(href="my-works.html").main_link Мои Работы
    li.main_item
      a(href="call-me.html").main_link Обратная связь
  section.main_contacts
    nav.contacts
      li.contacts_li
        p.main-p Контакты
      li.contacts_li
        a(href="mailto:kvvendetta@gmail.com").main_mail.link kvvendetta@gmail.com<br>
      li.contacts_li
        a(href="tel:+380631162291").main_phone.link +380631162291<br>
      li.contacts_li
        a(href="skype:vikanovik.vika").main_skype.link vikanovik.vika
