footer.footer
  .footer_content.clearfix
    .footer_login
      a(href="autorization.html").footer_button Вход
    h4.footer_copyright &copy;2015. Это мой сайт, пожалуйста, не копируйте и не воруйте его!

