header.header
  .header_content.clearfix
    .header_logo
      a(href="http://loftschool.com/" target="_blank").header_logo-link
          img(src="../img/header-logo.png" alt="logo").header_img
      h1.header-description  Logo
    nav.social_nav
      ul.social_list
        li.social_item
          a(href="https://www.facebook.com/vika.kovalenko3" target="_blank").social_link.social_link--facebook facebook
        li.social_item
          a(href="https://vk.com/idvikul4ik" target="_blank").social_link.social_link--vk vk
        li.social_item
          a(href="https://twitter.com/vikanovikvika93" target="_blank").social_link.social_link--twitter twitter
        li.social_item
          a(href="https://github.com/vikulchik" target="_blank").social_link.social_link--github github

