header.header.clearfix
  .header_content
    .header_logo
      a(href="#").header_logo-link
        img(src="../img/header-logo.png").header_img
    nav.header_nav
      ul.header_list
        li.header_item
          a(href="#").header_link.header_link--facebook facebook
        li.header_item
          a(href="#").header_link.header_link--vk vk
        li.header_item
          a(href="#").header_link.header_link--twitter twitter
        li.header_item
          a(href="#").header_link.header_link--github github

