header.header.clearfix
  .header-content
    .header_logo
      a(href="http://loftschool.com/").header_logo-link
        img(src="../img/header-logo.png" alt="my logo").header_logo-img
    .header_nav
      nav.navigation
        li.social_list.social_list--facebook
          a(href="https://www.facebook.com/vika.kovalenko3").social_link.social_list--facebook facebook
        li.social_list.social_list--vk
          a(href="https://vk.com/idvikul4ik").social_link.social_list--vk vk
        li.social_list.social_list--twitter
          a(href="https://twitter.com/vikanovikvika93").social_link.social_list--twitter twitter
        li.social_list.social_list--github
          a(href="https://github.com/vikulchik").social_link.social_link--github github

