header.header
  .header_content.clearfix
    .header_logo
      a(href="http://loftschool.com/" target="_blank").header_logo-link
          img(src="../img/header-logo.png" alt="logo").header_img
      h1.header-description  Logo
    .socials
      ul.socials_list
        li.socials_item
          a(href="https://www.facebook.com/vika.kovalenko3" target="_blank").socials_link.socials_link--facebook facebook
        li.socials_item
          a(href="https://vk.com/idvikul4ik" target="_blank").socials_link.socials_link--vk vk
        li.socials_item
          a(href="https://twitter.com/vikanovikvika93" target="_blank").socials_link.socials_link--twitter twitter
        li.socials_item
          a(href="https://github.com/vikulchik" target="_blank").socials_link.socials_link--github github

