.pop-up__wrapper.outer.hide
  section.pop-up_add
    p.add Добавление проекта
    .pop-up__form
      .pop-up__input
        label.key.name Название проекта
          input(type="text" name="text" placeholder="Как к вам обращаться").forma.project
        label.key.img Картинка проекта
          input(type="file" name="photo" multiple accept="image/*,image/jpeg" placeholder="Загрузите изображение").forma.download
        label.key.link URL проекта
          input(type="text" name="text" placeholder="Добавьте ссылку").forma.url
        label.key.text Описание
          textarea(name="message" required placeholder="Пара слов о вашем проекте").forma.messages
    a(href="#").button-add Добавить
    a(href="#").close X