.pop-up
  .pop-up_add
    .pop-up_form
      h3.pop-up_title Добавление проекта
      form(id="pop-up_add-new-project" method="POST")
        .server-mes
        label.pop-up_label Название проекта
          input(type="text" name="text" placeholder="Введите название").pop-up_input
          .tooltip.tooltip-name.hide введите название
        p.pop-up_description Картинка проекта
        label.pop-up_label.pop-up_label-download <span>Загрузите изображение</span>
          input(type="file" name="photo" multiple accept="image/*,image/jpeg").pop-up_input.pop-up_input-download
          .tooltip.tooltip-img.hide изображение
        label.pop-up_label URL проекта
          input(type="text" name="text" placeholder="Добавьте ссылку").pop-up_input
          .tooltip.tooltip-url.hide ссылка на проек
        label.pop-up_label Описание
          textarea(name="text" placeholder="Пара слов о Вашем проекте").pop-up_input.pop-up_input-message
          .tooltip.tooltip-text.hide описание проекта
        .button_add
          button(type="submit").input_button.button-submit Добавить
      a(href="#").pop-up_close X